
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
h1 {
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #f0f0f0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 16px;
}
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    text-align: justify; /* Justifica el texto dentro de las secciones */
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #f0f0f0;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6347;
}

nav a {
    transition: color 0.3s ease, transform 0.2s ease;
}
#map
{
    height:  500px;
    width: 90%;
}
nav a:hover {
    color: #ff6347;
    transform: scale(1.1);
}
.iniciar
{
	font-family:arial;
	font-size:18px;
	position:relative;
	color:white;
	width:130px;
	height:35px;
	border: 2px solid grey;
	background-color:black;
	outline: none;
	border-radius:10px;
	text-align:center;
	top: -20%;
	left: 4%;
	cursor:pointer;
}
.iniciar:hover
{
	color:orange;
}
#contacto {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; /* Centra el contenido horizontalmente y agrega margen superior e inferior */
    max-width: 800px; /* Limita el ancho máximo del contenido para una mejor legibilidad */
}

#contacto h2 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Centra el título horizontalmente */
}

#contacto p {
    font-size: 16px;
    text-align: justify; /* Justifica el texto para un aspecto más limpio */
    margin-bottom: 10px;
}

/* Estilo específico para el texto de derechos de autor */
#contacto p:last-child {
    font-size: 14px;
    text-align: center; /* Centra el texto de derechos de autor horizontalmente */
    margin-top: 20px; /* Agrega margen superior para separar del contenido anterior */
}
/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}